/* Style untuk bagian header */
header {
    background-color: #1581A3; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 20px; /* Padding */
    display: flex; /* Menggunakan flexbox untuk layout */
    justify-content: space-between; /* Mengatur jarak antara elemen di dalam header */
    align-items: center; /* Memposisikan elemen secara vertikal di tengah */
}

/* Style untuk body */
body {
    background-color: #084255; /* Warna latar belakang */
    background-image: url('nama-file-gambar.jpg'); /* Gambar latar belakang */
    background-size: cover; /* Menyesuaikan ukuran gambar agar mengisi seluruh area */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
}

/* Style untuk label menu dan judul web */
.menu-label, .web-title {
    font-weight: bold; /* Ketebalan teks */
    color: #fff; /* Warna teks */
}

.title-menu-container {
    display: flex; /* Menggunakan flexbox untuk layout */
    align-items: center; /* Memposisikan elemen secara vertikal di tengah */
}

/* Style untuk navigasi */
header nav ul {
    list-style: none; /* Menghilangkan tanda bullet pada daftar */
    display: flex; /* Menggunakan flexbox untuk layout */
}

header nav ul li {
    margin-right: 80px; /* Jarak antara item menu */
    flex-grow: 1; /* Membagi ruang secara merata antara setiap item menu */
}

header nav ul li a {
    color: #fff; /* Warna teks */
    text-decoration: none; /* Menghilangkan dekorasi hyperlink */
}

header nav ul li a:hover {
    color: #00fbff; /* Warna teks saat hover */
    text-decoration: none; /* Menghilangkan dekorasi hyperlink saat hover */
}

header nav ul li a {
    font-family: "San", sans-serif; /* Mengatur jenis font */
    font-weight: bold; /* Ketebalan teks */
}

/* Style untuk bagian utama */
main {
    display: flex; /* Menggunakan flexbox untuk layout */
    justify-content: space-between; /* Mengatur jarak antara elemen di dalam main */
    padding: 20px; /* Padding */
    flex-wrap: wrap; /* Membungkus elemen di dalam main */
}

aside {
    width: 30%; /* Lebar sisi aside */
    order: 1; /* Urutan aside dalam flexbox */
}

article {
    width: 65%; /* Lebar artikel */
    order: 2; /* Urutan artikel dalam flexbox */
}

article.contact-form {
    width: 100%; /* Lebar penuh untuk formulir kontak */
    order: 3; /* Urutan terakhir dalam flexbox */
}

/* Mengatur kontainer profil */
.profile {
    width: 320px; /* Lebar kontainer profil */
    height: 320px; /* Tinggi kontainer profil */
    margin: 0 auto; /* Menyusun di tengah secara horizontal */
    border-radius: 50%; /* Membuat kontainer menjadi bulat */
    overflow: hidden; /* Memastikan gambar yang lebih besar dari kontainer tidak keluar */
}

/* Mengatur gambar profil */
.profile img {
    width: 100%; /* Lebar penuh dari elemen pembungkus */
    height: auto;
    object-fit: cover; /* Memastikan gambar terpotong dengan baik dalam elemen pembungkus */
}

/* Style untuk teks dalam artikel dan pendidikan */
article h2, .education h3, article p {
    color: #fff; /* Warna teks */
}

.education {
    margin-top: 20px; /* Jarak antara riwayat pendidikan dengan teks sebelumnya */
}

.education h3 {
    font-size: 18px; /* Ukuran teks */
    margin-bottom: 6px; /* Jarak bawah */
}

.education-item {
    background-color: #f0f0f0; /* Warna latar belakang */
    padding: 6px; /* Padding */
    margin-bottom: 6px; /* Jarak bawah */
    color: #fff; /* Warna teks */
}

/* Style untuk kotak riwayat pendidikan dengan warna berganti-ganti */
.education-item:nth-child(odd), .education-item:nth-child(even) {
    background-color: #1581A3; /* Warna latar belakang */
}

.video-iframe {
    display: block; /* Mengubah display menjadi blok untuk dapat menggunakan margin otomatis */
    margin: 0 auto; /* Mengatur margin otomatis horizontal untuk meletakkan iframe di tengah */
}

/* Style untuk bagian formulir kontak */
form {
    background-color: #f0f0f0; /* Warna latar belakang */
    padding: 20px; /* Padding */
    margin-top: 20px; /* Jarak atas */
    border-radius: 8px; /* Sudut membulat */
    color: #333; /* Warna teks */
}

form label {
    display: block; /* Label dalam satu baris */
    margin-bottom: 5px; /* Jarak bawah */
}

form input, form textarea {
    width: 100%; /* Lebar penuh */
    padding: 8px; /* Padding */
    margin-bottom: 10px; /* Jarak bawah */
    border: 1px solid #ccc; /* Border */
    border-radius: 4px; /* Sudut membulat */
}

form button {
    background-color: #1581A3; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 10px 15px; /* Padding */
    border: none; /* Tanpa border */
    border-radius: 4px; /* Sudut membulat */
    cursor: pointer; /* Pointer cursor */
}

form button:hover {
    background-color: #00fbff; /* Warna saat hover */
}

/* Footer */
footer {
    background-color: #1581A3; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    text-align: center; /* Posisi teks */
    padding: 10px; /* Padding */
    position: fixed; /* Menetapkan posisi footer */
    bottom: 0; /* Memastikan footer berada di bagian bawah halaman */
    width: 100%; /* Lebar footer */
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column; /* Mengubah arah layout menjadi kolom */
    }

    aside {
        width: 100%; /* Lebar aside */
    }

    aside img {
        width: 80%; /* Lebar gambar */
        height: auto; /* Tinggi gambar menyesuaikan proporsi */
    }

    article, article.contact-form {
        width: 100%; /* Lebar artikel */
        margin-top: 20px; /* Jarak antara artikel dengan elemen di atasnya */
    }
}

@media only screen and (max-width: 480px) {
    header nav ul li {
        display: block; /* Mengubah tata letak menu menjadi blok */
        margin-bottom: 10px; /* Jarak antara item menu */
        flex-grow: 0; /* Menonaktifkan pembagian ruang antara item menu */
    }
}
